@use "./scss/normalize";
@use "./scss/my_normalize";
@use "./scss/variables" as *;

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  #control-panel {
    padding: 1rem;
    background-color: darkgoldenrod;
    border-radius: $border-radius;
    padding: $padding;
    .input-block {
      margin: 0.25rem auto;
    }
    button[type="submit"] {
      border-radius: $border-radius;
      padding: $padding calc(2 * $padding);
    }
  }
}
